<html>
	<head>
		<meta charset="utf-8">
		<title>Clínica Veterinaria</title>
	</head>
	<body>
		<h1>Bienvenido a Clínica Veterinaria UAZ</h1>
		<form method="POST">
			<input name="pet_text" id="id_name_pet" placeholder="Nombre de la mascota" />
			<input name="owner_text" id="id_name_owner" placeholder="Nombre del propietario" />
			<input name="date_text" id="id_appointment_date" placeholder="Fecha de la cita" />
			<button id="id_button_save">Guardar</button>
			{% csrf_token %}
		</form>
		<table id="id_list_table">
			<tr><td>1: {{ new_pet_text }}</td></tr>
		</table>
	</body>
	
</html>